$color-primary: #0855c4;
$color-secondary: #00aded;
$color-tertiary: #ea0c90;

$color-ibk: #00bb31;

/*$color-gray: #3f3f3f;*/
$color-gray: #a7a9c5;
$color-gray-secondary: #74799a;
$color-gray-light: #dddddd;

$color-white: #fff;
$color-black: #454a6c;

$color-error: #dc3545;

$text-primary: $color-primary;
$text-secondary: $color-secondary;
$text-tertiary: $color-tertiary;
$text-black: $color-black;
$text-secondary: $color-secondary;
$text-black: $color-black;
$text-white: $color-white;

$background-banner: linear-gradient(0deg, #0881d9 0%, #40a7ff 100%);

/*:export {
  colorPrimary: $color-primary;
  colorSecondary: $color-secondary;
  colorTeritary: $color-tertiary;
}*/
