@font-face {
  font-weight: 300;
  font-family: 'Sofia Pro';
  font-display: swap;
  src: url('~/assets/fonts/sofia-pro/sofia-pro-extralight.otf');
}

@font-face {
  font-weight: 400;
  font-family: 'Sofia Pro';
  font-display: swap;
  src: url('~/assets/fonts/sofia-pro/sofia-pro-regular.otf');
}

@font-face {
  font-weight: 500;
  font-family: 'Sofia Pro';
  font-display: swap;
  src: url('~/assets/fonts/sofia-pro/sofia-pro-medium.otf');
}

@font-face {
  font-weight: 600;
  font-family: 'Sofia Pro';
  font-display: swap;
  src: url('~/assets/fonts/sofia-pro/sofia-pro-semi-bold.otf');
}
